<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.root.emr.persistance.EmrDao">
 
<select id="selectAll" resultType="EmrVO">
	SELECT tbl_emrs.seq, tbl_emrs.name, tbl_emrs.age, tbl_emrs.sex, tbl_emrs.dcode, tbl_dise.dis, tbl_emrs.karte
	FROM tbl_emrs
	LEFT JOIN tbl_dise ON tbl_emrs.dcode = tbl_dise.code
</select>

<select id="findById" resultType="EmrVO">
	SELECT tbl_emrs.seq, tbl_emrs.name, tbl_emrs.age, tbl_emrs.sex, tbl_emrs.dcode, tbl_dise.dis, tbl_emrs.karte
	FROM tbl_emrs
	LEFT JOIN tbl_dise ON tbl_emrs.dcode = tbl_dise.code
	WHERE seq = #{seq}
</select>

<insert id="insert" parameterType="EmrVO">
	INSERT INTO tbl_emrs(
	name, age, sex, dcode, karte
	) VALUES(
	#{name}, #{age}, #{sex}, #{dcode}, #{karte}
	)
</insert>

<update id="update">
	UPDATE tbl_emrs
	SET name = #{name},
		age = #{age},
		sex = #{sex},
		dcode = #{dcode},
		karte = #{karte}
	WHERE seq = #{seq}
</update>

<delete id="delete">
	DELETE FROM tbl_emrs
	WHERE seq = #{seq}
</delete>

<select id="create_chart_table">
CREATE TABLE IF NOT EXISTS tbl_emrs(
	seq	BIGINT	AUTO_INCREMENT	PRIMARY KEY,
	name	VARCHAR(10),
	age	BIGINT,
	sex	VARCHAR(10),
	dcode	VARCHAR(20),
	karte	VARCHAR(255)
)
</select>
 
<select id="create_dise_table">
CREATE TABLE IF NOT EXISTS tbl_dise(
	code VARCHAR(10) PRIMARY KEY,
    dis VARCHAR(25) NOT NULL
)
</select>
 
</mapper>